@import '../../../../../styles/variables';
:host-context(.service-provider-selector) {
  .header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 16px;

    .left-side {
      .title {
        font-size: 2.2rem;
        color: $ld-color-neutral-darker;
        margin-bottom: 10px;
      }
      .subtitle {
        color: $ld-color-neutral;
        font-size: $font-size-medium;
        .name {
          margin-left: 10px;
          margin-right: 22px;
        }
      }
    }

    .middle {
      width: 30%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      margin-bottom: 6px;
    }

    .right-side {
      padding: 0 0 0 8px;
      margin-top: 34px;
      display: flex;
    }
  }
}
