$loan-depot-blue-base: #5e9aca;
$loan-depot-blue: (
  50: #ecf3f9,
  100: #cfe1ef,
  200: #afcde5,
  300: #8eb8da,
  400: #76a9d2,
  500: #5e9aca,
  600: #5692c5,
  700: #4c88bd,
  800: #427eb7,
  900: #316cab,
  A100: #f1f8ff,
  A200: #beddff,
  A400: #8bc2ff,
  A700: #72b4ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #000000,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);
$loan-depot-green-base: #a4cd27;
$loan-depot-green: (
  50: #f4f9e5,
  100: #e4f0be,
  200: #d2e693,
  300: #bfdc68,
  400: #b2d547,
  500: #a4cd27,
  600: #9cc823,
  700: #92c11d,
  800: #89ba17,
  900: #78ae0e,
  A100: #f2ffdc,
  A200: #dfffa9,
  A400: #ccff76,
  A700: #c3ff5d,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);
$loan-depot-yellow-base: #ffba39;
$loan-depot-yellow: (
  50: #fff7e7,
  100: #ffeac4,
  200: #ffdd9c,
  300: #ffcf74,
  400: #ffc457,
  500: #ffba39,
  600: #ffb333,
  700: #ffab2c,
  800: #ffa324,
  900: #ff9417,
  A100: #ffffff,
  A200: #fffefc,
  A400: #ffe5c9,
  A700: #ffd8b0,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);
$loan-depot-red-base: #c60751;
$loan-depot-red: (
  50: #f8e1ea,
  100: #eeb5cb,
  200: #e383a8,
  300: #d75185,
  400: #cf2c6b,
  500: #c60751,
  600: #c0064a,
  700: #b90540,
  800: #b10437,
  900: #a40227,
  A100: #ffced6,
  A200: #ff9bac,
  A400: #ff6881,
  A700: #ff4f6c,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);
