// Disabling SelectorFormat to remove errors on class names created by JQuery DataTables
// scss-lint:disable SelectorFormat

$border-color: $ld-color-neutral-light;
$row-bg-color: $ld-color-white;
$row-bg-color-stripe: $ld-color-primary-lighter;
$cell-font-size: $font-size-default;
$cell-font-color: $ld-color-neutral-dark;
$cell-height-small: 30px;
$cell-height: 67px;
$heading-font-size: $font-size-x-small;
$heading-font-color: $ld-color-neutral-dark;
$heading-bg-color: $ld-color-neutral-lighter;
$heading-height: 40px;
$modal-inner-padding: $grid-gutter-width;

//========================================
//=            .ld-data-table            =
//======================================//

//----------  Placeholders  ----------//

%borders-around-cells {
  td {
    border: 1px solid $border-color;
  }
}

%unstriped-rows {
  tbody tr {
    background-color: $row-bg-color;

    &:nth-child(even) {
      background-color: $row-bg-color;
    }
  }
}

%striped-rows {
  tbody tr {
    background-color: $row-bg-color;

    &:nth-child(even) {
      background-color: $row-bg-color-stripe;
    }
  }
}

%nowrap-table-cells {
  td {
    white-space: nowrap;
  }
}

%ld-data-table {
  width: 100%;

  th {
    padding: 6px 7px;
    height: $heading-height;
    font-weight: 700;
    font-size: $heading-font-size;
    text-align: left;
    color: $heading-font-color;
    background-color: $heading-bg-color;
    border: 1px solid $heading-bg-color; // because there is a border on the tbody tr, you need a border here, too
    white-space: nowrap;
    outline: none;
    vertical-align: middle;

    &.sorting_desc .ld-icon-arrow-down,
    &.sorting_asc .ld-icon-arrow-up {
      display: inline-block;
    }

    .ld-icon {
      display: none;
      font-size: $font-size-x-large;
      vertical-align: middle;
    }

    button {
      font-weight: 700;
    }

    @media (min-width: $ld-screen-xl-min) {
      padding: 12px 14px;
    }
  }

  tbody tr {
    border: 1px solid $border-color;
    border-collapse: separate;
  }

  td {
    padding: 5px 7px;
    font-size: $cell-font-size;
    height: $cell-height-small;

    @media (min-height: $ld-min-height) and (min-width: $ld-screen-lg-min) {
      height: $cell-height;
    }

    text-align: left;
    color: $cell-font-color;
    vertical-align: middle;

    &.toggle-child-rows {
      // scss-lint:disable VariableForProperty
      text-align: center;
      font-size: 3em;
    }

    @media (min-width: $ld-screen-xl-min) {
      padding: 10px 14px;
    }
  }
}

//----------  Table  ----------//

.ld-data-table {
  @extend %ld-data-table;

  @extend %nowrap-table-cells;

  @extend %striped-rows;

  &.ld-data-table-unstriped {
    @extend %unstriped-rows;
  }
}

//----------  Pagination  ----------//

.table-controls {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .table-control {
    margin-top: $grid-gutter-width / 3;
    padding: 0 ($grid-gutter-width / 2);

    &:last-child {
      padding-right: 0;
    }

    &:first-child {
      padding-left: 0;
    }
  }

  .length-changing-input-control {
    label {
      margin-bottom: 0;
    }

    select {
      @include ld-input;

      width: auto;
      min-width: 60px;
      margin-left: $grid-gutter-width / 2;
    }
  }
}

.dataTables_paginate {
  display: flex;

  > span {
    display: flex;
  }

  .paginate_button {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 5px 7px;

    .ld-icon {
      font-size: 1.6rem;
    }

    &.current {
      font-weight: 700;
      color: $ld-color-neutral-darker;
    }

    &.disabled {
      pointer-events: none;
      text-decoration: none;
      color: $ld-color-neutral;
    }

    &.previous,
    &.next {
      &:hover,
      &:focus {
        text-decoration: none;
      }
    }

    &.previous {
      padding-right: $grid-gutter-width / 2;
      padding-left: 0;
    }

    &.next {
      padding-right: 0;
      padding-left: $grid-gutter-width / 2;
    }
  }
}

//========================================
//=            .ld-validation-table      =
//======================================//
// FIXME: Move to component-specific SCSS file
.ld-lock-history-table {
  @extend %ld-data-table;

  @extend %nowrap-table-cells;

  @extend %striped-rows;

  display: block;
  overflow-x: auto;

  tbody {
    tr {
      border: none;

      &:first-child {
        td {
          padding-top: 10px;
        }
      }

      &:last-child {
        td {
          padding-bottom: 10px;
        }
      }

      td {
        min-width: 220px;
        text-align: right;
        background: $ld-color-neutral-lightest;
        height: inherit;
        padding: 2px 20px;
        font-size: 13px;

        &:first-child {
          min-width: inherit;
          text-align: left;
          background: $row-bg-color;
          position: sticky; // fix column to the left when scrolling horizontally
          left: 0;
        }

        &:nth-child(2) {
          background: $row-bg-color;
        }

        &:not(:first-child) {
          border-left: 1px solid $border-color;
        }
      }

      &:nth-child(even) {
        background-color: $row-bg-color;
      }
    }
  }
}

// FIXME: Move to component-specific SCSS file
.ld-pricing-information-table {
  @extend %ld-data-table;

  @extend %nowrap-table-cells;

  @extend %unstriped-rows;

  tbody tr {
    &.subgroup-title-row {
      background: $ld-color-primary-light;
      color: $ld-color-primary-dark;
      text-transform: uppercase;
      font-weight: 600;

      td {
        height: inherit;
      }
    }

    &.empty-space-row {
      border-left: none;
      border-right: none;
      background: none;

      td {
        height: 20px;
      }
    }
  }
}

// FIXME: Move to component-specific SCSS file
.ld-adjustment-history-table {
  width: 100%;

  thead {
    tr {
      background: $ld-color-neutral-light;
      color: $ld-color-neutral-darker;
      font-weight: 600;
    }
  }

  td {
    padding: 10px 15px;
  }
}

.plain-table {
  &.edge-table {
    // make table touch modal edges
    margin-left: -$modal-inner-padding;
    margin-right: -$modal-inner-padding;
    width: calc(100% + #{$modal-inner-padding * 2});

    td,
    th {
      // re-add modal padding to table so edges are aligned
      &:first-child {
        padding-left: $modal-inner-padding;
      }

      &:last-child {
        padding-right: $modal-inner-padding;
      }
    }
  }

  th {
    background-color: $ld-color-neutral-light;
  }

  td,
  th {
    padding: 10px;
  }
}

.fixed-table-header-footer-container {
  padding: 45px 0 0;
  position: relative;
  background-color: $ld-color-neutral-light;

  &.has-fixed-footer {
    padding-bottom: 30px;
  }
}

.fixed-table-header-footer-inner-container {
  max-height: 350px;
  overflow-y: auto;
}

.ld-basic-table {
  width: 100%;

  $left-right-padding: 10px;
  $cell-padding: 5px $left-right-padding;
  $heading-padding: 12px $left-right-padding;
  $header-height: 45px;
  $footer-height: 30px;
  $text-color: $ld-color-neutral-darker;

  tbody tr {
    background: $row-bg-color;
    border: 0 none;
    border-collapse: separate;

    &:nth-child(even) {
      background-color: $ld-color-neutral-lighter;
    }
  }

  td {
    padding: $cell-padding;
    white-space: nowrap;
    text-align: left;
    color: $text-color;
    vertical-align: middle;
  }

  th {
    padding: $heading-padding;
  }

  tfoot td,
  th {
    font-weight: 700;
    text-align: left;
    color: $ld-color-neutral-darker;
    background-color: $ld-color-neutral-light;
    border: 0 none;
    white-space: nowrap;
    outline: none;
    vertical-align: middle;
  }

  thead.fixed-header th {
    height: 0;
    line-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    color: transparent;
    border: none;
    white-space: nowrap;

    .content {
      position: absolute;
      background: transparent;
      padding: $heading-padding;
      top: 0;
      margin-left: 0 - $left-right-padding;
      line-height: normal;
      color: $text-color;
    }
  }

  tfoot.fixed-footer td {
    height: 0;
    line-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    color: transparent;
    border: none;
    white-space: nowrap;

    .content {
      position: absolute;
      background: transparent;
      padding: $cell-padding;
      bottom: 0;
      margin-left: 0 - $left-right-padding;
      line-height: normal;
      color: $text-color;
    }
  }
}

.ld-large-cells {
  @extend %ld-data-table;

  @extend %borders-around-cells;

  td {
    padding: 14px;
    font-size: $font-size-large;
    height: auto;

    &.editable-cell {
      position: relative;
      background: $row-bg-color;
    }
  }
}

table {
  td.shrink-cell-width,
  th.shrink-cell-width {
    // setting th/td width to 1px causes it to shrink to the minimum space that it requires
    width: 1px;
  }
}
