:host {

  .version {
    position: absolute;
    top: 4px;
    right: 10px;
    color: #aaaaaa;
    background-color: transparent;
    width: 20px;
    height: 20px;
    padding: 12px;
    cursor: default;
    user-select: none;
  }

  display: block;
  padding: 0 0 25px 0;
}
